* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Azeret Mono', monospace, Arial;
    color: white;
}
header {
    height: 100px;
    background-color: #1A1A1C;
    color: white;
}

/* Eu coloquei o max width 90% para já se adaptar a mobile e o tamanho da tela do usuário */
.header {
    max-width: 90%; 
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 100px;
}
img{
    width: 75px;
    height: 75px;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;   /* ADICIONE ISSO CASO DE MERDA */
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    padding: 0px 17px;
}
.menu li a:hover {
    border-bottom: 3px solid #B28756;
    color: #CCC;
}
.menu .active a {
    color: #CCC
}


.banner {
    height: calc(100vh - 100px);  /* Esse calculo é o seguinte: 100 vh é o tamanho total da tela do usuario, só que o header tem 100px, então pra n ter barra de rolagem eu fiz o tamanho da tela total - 100px do header*/
    background-color: #333;
    background-image: url('../images/bgsad.jpg');
    background-size: cover;
    background-position: center;
}
.banner .slidearea {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.banner .cada,
.vida, .importa{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    padding: 8px;
}
.cada {
    background-color: #EEAD2D;
    color: black;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    opacity: 0.7;
    margin-top: 520px;

}
.vida {
    background-color: #EEAD2D;
    color: #E9EFE5;
    opacity: 0.7;
    margin-top: 520px;

}
.importa {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #EEAD2D;
    color: black;
    opacity: 0.7;
    margin-top: 520px;

}
.link {
    position: absolute;
    z-index: 20;
    bottom: 83px;
    left: 800px;
}
.link a{
    display: block;
    background-color: #DEB871;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 12px 85px;
    border-radius: 20px;
}
.dados{
    height:500px;
    background-color:black;
    display: flex;
    padding: 50px 20px;
}
.teste-titulo{
    padding: 10px ;
    display: inline-block;
    border-radius: 45px;
    width: 95px;
    height: 95px;
    background-color: white;
    text-align: center;
    margin: auto;
    border-style: solid;
    border-color: #EEAD2D;
}
.teste-titulo2{
    padding: 10px ;
    border-radius: 45px;
    display: inline-block;
    background-color: lightyellow;
    width: 95px;
    height: 95px;
    margin: auto;
    border-style: solid;
    border-color: #EEAD2D;
}
.teste-titulo3{
    padding: 10px ;
    border-radius: 45px;
    display: inline-block;
    background-color:white;
    width: 95px;
    height: 95px;
    margin: auto;
    border-style: solid;
    border-color: #EEAD2D;
}
.titulo-dados{
    display: inline-block;
    width: 48%;
    color: white;
    height: 300px;
}
.titulo-dados h1{
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline #EEAD2D;
}
.titulo-dados p{
    padding: 30px 40px;
}
.divisoria{
    background-color: white;
    background-image: linear-gradient(to bottom, #414242,#D3DCDA,#BEC2C1
,#404746,#8C8F8E);
    width: 6px;
    height: 430px;
    display: inline-block;
}
.texto-dados{
    display: inline-block;
    width: 35%;
    height: 300px;
    padding: 0px 34px; 
}
.texto-dados h2{
    font-weight: bold;
}
.texto-dados p{
    justify-content: flex-end;
    padding: 10px 0px;
}
strong{
    color:#EEAD2D ;
}